
# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Config & secrets
config.py
.env
.streamlit/secrets.toml

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

.streamlit/secrets.toml
__pycache__/
.env
*.db
